<div>
  {{ content }}
  {% if extra_content %}
    <hr>
    <div class="extra">
      {{ extra_content }}
    </div>
    <style>
      .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: {{ settings.rows }};
        background: purple;
      }
    </style>
  {% endif %}

  {% style %}
    .section {
      outline: 1px solid #192879;
      background: {{ settings.primary.bg }};
      font-size: 3rem;
      {% if extra_content %}
      font-size: 2.5rem;
      {% endif %}
    }
  {% endstyle %}

  <script>
    const isMixed = true;
    console.log("isMixed", isMixed);
  </script>

  <hr>
</div>
